*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

html{
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    color: rgb(47, 107, 109);
}

h2{
    margin-left: 30px;
    color: rgb(47, 107, 109);
    font-size: 30px;
    margin-bottom: 20px;
}

h3{
    margin-left: 30px;
    color: rgb(47, 107, 109);
    font-size: 20px;
    margin-bottom: 20px;
}
table{
    margin: 20px;;
}

table th{
    
    padding-right: 150px;
}

table td{
    padding: 5px;
}

table button{
    background-color: rgb(47, 107, 109);
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

footer{
    margin-left: 30px;
    color: rgb(47, 107, 109);
    font-size: 20px;
    margin-bottom: 20px;
}